.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  transition: background-color 1s ease;
  background-color: var(--main-bg);
  color: var(--full-opp);
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.item {
  background: var(--secondary-bg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 100;
  border-radius: 1rem;
}

.main-grid {
  display: grid;
  height: 80vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 90vw;
  gap: 0.8rem;
  grid-template-areas:
    "hello hello hello map project"
    "hello hello hello map project"
    "mode skills skills skills project"
    "resume skills skills skills project"
    "contact contact social about about"
    "contact contact social about about";
}

.item-1 {
  grid-area: hello;
}
.item-2 {
  overflow: hidden;
  grid-area: map;
}
.item-3 {
  grid-area: project;
}
.item-4 {
  grid-area: mode;
}
.item-5 {
  grid-area: resume;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.5rem;
}
.item-6 {
  grid-area: skills;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding: 2rem;
  font-size: 1.25rem;
}
.item-6 .skills-btn{
  padding: 0.4rem 1rem;
  border: 0.5px solid var(--middle);
  cursor: pointer;
  border-radius: 100rem;
}

.item-6 .skills-btn i{
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}
.item-6 .skills-btn:hover i{
  transform: rotate(0);
}
.item-7 {
  grid-area: contact;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
}
.item-7 h5 {
  width: 100%;
  text-align: left;
  font-weight: 600;
}
.item-7 p {
  font-size: 1rem;
}
.item-7 button {
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  background-color: var(--full-opp);
  cursor: pointer;
  color: var(--full);
  border-radius: 100rem;
  font-size: 1rem;
  align-self: flex-start;
  margin-top: 0.8rem;
  padding: 0.4rem;
  width: 8rem;
}
.item-7 button i {
  margin-left: 0.5rem;
  transition: all 0.3s ease;
  transform: rotate(-45deg);
}
.item-7 button:hover i{
  transform: rotate(0);
}
.item-8 {
  grid-area: social;
  display: grid;
  padding: 2rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.item-8 i {
  color: var(--full-opp);
  cursor: pointer;
}
.item-9 {
  grid-area: about;
  display: flex;
  align-items: start;
  padding: 1.5rem;
  text-align: left;
  flex-direction: column;
}
.item-9 p {
  font-size: 1rem;
  height: 7rem;
}
.item-9 h5 {
  font-size: 1.8rem;
}
.item-2 img {
  width: 10rem;
  transform: scale(3);
}
.item-9 .about-btn {
  width: 8rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-top: 1rem;
  border-radius: 100rem;
  cursor: pointer;
  border: 0.5px solid var(--middle);
}
.item-9 .about-btn i {
  margin-right: 0.5rem;
  transition: all 0.3s ease;
  transform: rotate(-45deg);
}
.item-9 .about-btn:hover i {
  transform: rotate(0);
}
.item-3 {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.item-3 .proj-head {
  width: 14rem;
  display: flex;
  justify-content: end;
  align-items: end;
  height: 50%;
  transform: rotate(-90deg) translateX(2.2rem);
  font-size: 3.4rem;
}
.item-3 .foot-proj {
  display: flex;
  transform: translateY(3rem);
  align-items: center;
  margin-left: 1.4rem;
}
.item-3 .foot-proj .view-proj {
  font-size: 1rem;
  width: 10%;
}
.item-3 .foot-proj .arrow {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  transform: rotate(-45deg);
  font-size: 2.2rem;
  justify-content: center;
  transition: all 0.2s ease;
  align-items: center;
  border-radius: 100rem;
  background: none;
  border: 1px solid var(--full-opp);
}

.item-3 .foot-proj:hover .arrow {
  transform: rotate(0);
}

.foot{
  margin-top: 2rem;
}
@media only screen and (orientation: portrait) {
  .item {
    font-size: 1rem;
  }
  .main-grid {
    gap: 0.6rem;
    width: 88vw;
    grid-template-areas:
      "hello hello hello map map"
      "hello hello hello map map"
      "project project resume resume mode"
      "project project skills skills skills"
      "contact contact contact about about"
      "social social social social social";
  }
}
