.about-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.6rem;
  grid-template-areas:
    "main main main resume"
    "main main main mode"
    "main main main socials"
    "main main main socials";
  height: 90vh;
  margin-top: 2rem;
}
.main-abt {
  grid-area: main;
  overflow-y: scroll;
  padding: 2rem;
}
.resume {
  grid-area: resume;
}
.mode {
  grid-area: mode;
}
.socials {
  grid-area: socials;
}

@media (max-width: 768px) {
  .about-grid {
    display: grid;
    grid-template-rows: 1.75fr 1fr 0.75fr 0.75fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    grid-template-areas:
      "main main main main"
      "main main main main"
      "resume resume mode mode"
      "socials socials socials socials";
    height: 82vh;
    margin-top: 2rem;
  }
}
