body {
  margin-inline: 10rem;
  margin-top: 1.25rem;
  font-family: var(--font-primary);
}
.cold {
  width: 12rem;
  height: 16rem;
  background-color: #1c23af87;
  filter: blur(4rem);
  z-index: -10;
  animation: mov 10s linear infinite;
  border-radius: 2rem;
  position: absolute;
}
.cold2 {
  width: 12rem;
  height: 26rem;
  background-color: #1c23af5c;
  filter: blur(4rem);
  z-index: -10;
  border-radius: 2rem;
  animation: mov 5s linear infinite;
  top: 50%;
  right: 4%;
  position: absolute;
}
@keyframes mov {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, 0);
  }
  50% {
    transform: translate(-300px, -500px);
  }
  75% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.Home {
  display: grid;
  gap: 0.75rem;
  grid-template-rows: 2fr 1.5fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 0.25fr 1fr 1.25fr 2fr 0.5fr;
  grid-template-areas:
    "sidebar about about about profile"
    "sidebar mode mode resume profile"
    "sidebar skills skills skills projects"
    "sidebar skills skills skills projects"
    "sidebar contact contact contact projects"
    "sidebar contact contact contact projects";
  height: 92vh;
}

.sidebar,
.about,
.resume,
.mode,
.profile,
.skills,
.projects,
.contact {
  background-color: var(--box-dark);
  color: var(--font-dark);
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  /* cursor: pointer; */
  align-items: center;
}
.mode {
  cursor: default;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  cursor: default;
  flex-direction: column;
  padding-top: 2rem;
  z-index: 100;
  padding-bottom: 2rem;
  justify-content: space-between;
}
.sidebar span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.sidebar span i {
  cursor: pointer;
  color: var(--font-dark);
}
.about {
  grid-area: about;
  justify-content: space-between;
  font-weight: 400;
  display: flex;
  padding-inline: 4rem;
}
.about-btn {
  border-radius: 100rem;
  border: 1px solid var(--font-dark);
  padding: 0.55rem 2rem;
  transition: all 0.3s;
}
.about-btn:hover {
  background: var(--font-dark);
  color: var(--bg-dark);
}
.hey {
  font-size: var(--bc);
  padding-top: 0.6rem;
}
.name {
  font-size: clamp(1.2rem, 0.629rem + 1.524vw, 2rem);
}
.resume {
  grid-area: resume;
}
.mode {
  grid-area: mode;
}
.skills {
  grid-area: skills;
}

.contact {
  grid-area: contact;
  justify-content: space-around;
  padding-inline: 1rem;
}

.skills {
  font-weight: 300;
  flex-direction: column;
}
#skills-btn {
  transition: all 0.2s;
  transform: rotate(-45deg) scale(1.4);
}
.skills-btn {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: auto;
  justify-content: space-around;
  transition: all 0.3s;
}
.skills-btn:hover > #skills-btn {
  transform: rotate(0) scale(1.25);
}

#contact-btn {
  transform: rotate(-45deg) scale(1.25);
}
.profile {
  grid-area: profile;
  background-color: var(--box-dark);
  color: var(--font-dark);
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure content stays within container */
}

.about .name {
  color: var(--theme-dark); /* Color for your name */
  font-weight: 700;
}

.about-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem; /* Adjust the spacing as needed */
  cursor: pointer;
  font-weight: 300;
  font-size: clamp(0.81rem, 0.674rem + 0.362vw, 1rem);
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.6rem;
  filter: grayscale(100%);
  transition: all 0.25s; /* Transition all properties with linear timing */
  transform: scale(1.4) translateX(0.5rem) translateY(1.5rem); /* Zoom in effect */
}

.profile:hover .profile-pic {
  filter: grayscale(0%);
  transform: scale(1.2) translate(0.5rem, 1rem); /* Zoom out slightly on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

#abt-btn {
  font-size: clamp(1.2rem, 0.979rem + 0.59vw, 1.51rem);
  padding-right: 1rem;
  transform: rotate(-45deg) translateY(-0.42rem);
  transition: all 0.2s;
}
.about-btn:hover {
  transform: scale(0.9);
}

.about-btn:hover > #abt-btn {
  transform: rotate(0deg);
}

@media (max-width: 768px) {
  .about-btn {
    padding: 0.5rem 1rem;
  }
  #abt-btn {
    padding-right: 0.25rem;
    margin-top: 0.4rem;
  }

  body {
    margin-inline: 1rem;
    margin-top: 4rem;
  }

  .Home {
    grid-template-rows: 0.25fr 0.75fr 0.75fr 0.75fr 2fr;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-areas:
      "about about about about"
      "mode mode mode profile"
      "resume resume resume profile"
      "skills skills skills skills"
      "contact contact contact projects";
    height: 82vh;
  }

  .sidebar {
    display: none;
  }
  .about {
    padding: 1rem;
  }

  .about,
  .resume,
  .mode,
  .profile,
  .skills,
  .projects,
  .contact {
    border-radius: 0.4rem;
  }
  .skills {
    padding-bottom: 0.5rem;
  }

  .profile-pic {
    border-radius: 0.4rem;
    transform: scale(1.5) translate(0.5rem, 0.55rem);
  }
  .profile:hover .profile-pic {
    filter: grayscale(0%);
    transform: scale(1.2) translate(0.5rem, 0.75rem); /* Zoom out slightly on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
}
