.Home {
  background-color: var(--main);
  color: var(--full-opp);
  min-height: 100vh;
}

.hero-section {
  width: 78vw;
  display: flex;
  margin-inline: auto;
  justify-content: space-evenly;
  align-items: center;
}
.skills-section{
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: center;
}
.card {
  width: 20rem;
  height: 16rem;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
}
.hero-body {
  width: 44vw;
}
.hero-rs img {
  width: 16rem;
  border-radius: 0.8rem;
}
.hero-head {
  font-weight: 200;
}
.hero-head span {
  font-weight: 500;
  font-size: 3.2rem;
}
