.projects-container {
  display: grid;
  gap: 0.6rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "pl pl pl side"
    "pl pl pl side"
    "pl pl pl side";
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.side {
  position: fixed;
  grid-area: side;
  right: 14%;
  top: 4%;
  width: 14vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 1fr 1.5fr;
  gap: 0.6rem;
  height: 90vh;
  grid-template-areas:
    "resume"
    "ps"
    "pss";
}
.projects-list {
  grid-area: pl;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mode-sidebar {
  grid-area: ps;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.resume {
  grid-area: resume;
}

.pss {
  grid-area: pss;
}
.project-item > img {
  border-radius: 0.2rem;
  width: 30vw;
}
.project-item {
  height: fit-content;
  gap: 2rem;
  display: flex;
  padding: 1rem 0.75rem;
}
