.skills-grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0.6rem;
  height: 94vh;
  grid-template-areas:
    "sidebar frontend frontend frontend resume"
    "sidebar frontend frontend frontend other"
    "sidebar frontend frontend frontend other"
    "sidebar mode backend backend other";
}

.frontend {
  grid-area: frontend;
}
.frontend,
.backend,
.other {
  width: 100%;
  padding: 1rem;
}
.frontend > h1,
.backend > h1,
.other > h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.resume {
  grid-area: resume;
}

.backend {
  grid-area: backend;
}

.mode {
  grid-area: mode;
}

.other {
  grid-area: other;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  max-width: 100%;
  overflow: hidden;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.tech {
  align-items: center;
  display: flex;
  background-color: #ffffff10;
  justify-content: center;
  width: fit-content;
  padding-right: 0.6rem;
  height: fit-content;
  border-radius: 3px;
}

@media (max-width: 600px),
  (min-width: 601px) and (max-width: 1024px) and (zoom: 1.5) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.25fr 0.25fr 1fr 1fr;
    gap: 0.5rem;
    height: 82vh;
    grid-template-areas:
      "frontend frontend frontend frontend"
      "resume resume mode mode"
      "backend backend backend backend"
      "other other other other";
  }
}
