.nav-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}
.Navbar {
  width: 20vw;
  border: 0.5px solid var(--middle);
  border-radius: 10rem;
  padding: 0.5rem 1rem;
}
.nav-list li {
  font-size: 1rem;
  font-weight: 300;
  z-index: 5;
  cursor: pointer;
}
