:root {
  --font-primary: "Roboto", sans-serif;
  --bc: clamp(0.8rem, 0.479rem + 0.857vw, 1.25rem);
  /* Light Mode Variables */
  --bg-light: #ffffff;
  --font-light: #000000;
  --box-light: #f0f0f0;
  --theme-light: #007bff;
  --font-secondary-light: #555555;

  /* Dark Mode Variables */
  --bg-dark: #090014;
  --font-dark: #ffffff;
  --box-dark: #181022;
  --theme-dark: #26ffe9;
  --font-secondary-dark: #dcdcdc;
}

/* Default to dark mode */
body {
  background-color: var(--font-light);
  color: var(--font-dark);
  font-family: var(--font-primary);
}

/* Box styles */
.box {
  background-color: var(--box-dark);
}

/* Theme color */
.theme {
  color: var(--theme-dark);
}

/* Secondary font color */
.secondary-font {
  color: var(--font-secondary-dark);
}

/* Light mode styles */
body.light-mode {
  background-color: var(--bg-light);
  color: var(--font-light);
}

body.light-mode .box {
  background-color: var(--box-light);
}

body.light-mode .theme {
  color: var(--theme-light);
}

body.light-mode .secondary-font {
  color: var(--font-secondary-light);
}
