@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Poppins";
}
* {
  margin: 0;
  padding: 0;
}
.light {
  --main-bg: #dbdaf6;
  --secondary-bg: #00000020;
  --middle: #313131;
  --full: #fff;
  --full-opp: #000;
}
.dark {
  --main-bg: #01001c;
  --secondary-bg: #ffffff16;
  --middle: #cccccc;
  --full: #000000;
  --full-opp: #ffffff;
}
