@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Michroma&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=VT323&display=swap");
:root {
  /* --font-primary: "Michroma", sans-serif; */
  --font-primary: "Coming Soon", cursive;
  /* --font-primary: "VT323", monospace; */
  --bc: clamp(0.8rem, 0.479rem + 0.857vw, 1.25rem);
  /* Light Mode Variables */
  --bg-light: #ffffff;
  --font-light: #000000;
  --box-light: #f0f0f0;
  --theme-light: #007bff;

  --font-secondary-light: #555555;

  /* Dark Mode Variables */
  --bg-dark: #090014;
  --font-dark: #ffffff;
  --box-dark: #181022;
  --theme-dark: #eabf22;
  --font-secondary-dark: #dcdcdc;
}

body {
  background-image: url("./assets/bg.png");
  background-color: #131313;
  object-fit: none;
  color: var(--font-dark);
  font-family: var(--font-primary);
  overflow-y: hidden;
  background-size: cover;
}

.box {
  background-color: rgba(23, 23, 23, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
}
.box:hover {
  border: 1px solid rgba(255, 255, 255, 0.21);
}
.theme {
  color: var(--theme-dark);
}

.secondary-font {
  color: var(--font-secondary-dark);
}

body.light-mode {
  background-image: url("./assets/bgl.png");
  color: var(--font-light);
}

body.light-mode .box {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(183, 183, 183, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
}

body.light-mode .theme {
  color: var(--theme-light);
}

body.light-mode .secondary-font {
  color: var(--font-secondary-light);
}

@media screen and (max-width: 780px) {
  body {
    overflow-y: auto;
  }
}
